<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="trigger">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('operations.inverse') }}">Inverse Matrix</a>
    <a href="{{ url_for('operations.determinant') }}">Determinant</a>
    <a href="{{ url_for('operations.gaussianelimination') }}">Gaussian Elimination</a>
    <a href="{{ url_for('operations.transpose') }}">Transpose Matrix</a>
    <a href="{{ url_for('operations.eigen') }}">Eigenvalues and Eigenvectors</a>
    <a href="{{ url_for('operations.QR') }}">QR Factorization</a>
    <a href="{{ url_for('operations.orthogonalprojection') }}">Orthogonal Projections</a>
    <a href="{{ url_for('operations.gramschmidt') }}">Gram-Schmidt</a>
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>