<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <div class="navbar">
    <a class="homeanchor" href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('operations.basicoperations') }}">Basic Operations</a>
    <a href="{{ url_for('operations.gaussianelimination') }}">Gaussian Elimination</a>
    <a href="{{ url_for('operations.inverse') }}">Inverse Matrix </a>
    <a href="{{ url_for('operations.eigen') }}">Eigenvalues and Eigenvectors</a>
    <a href="{{ url_for('operations.orthogonalprojection') }}">Orthogonal Projections</a>
    <!--<div class="dropdown">
      <button class="dropbtn"><a href="{{ url_for('operations.basicoperations') }}">Basic Operations</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ url_for('operations.basicoperations') }}">Transpose</a>
        <a href="{{ url_for('operations.basicoperations') }}">Multiply, Power</a>
        <a href="{{ url_for('operations.basicoperations') }}">Add, Subtract</a>
        <a href="{{ url_for('operations.basicoperations') }}">Scale</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><a href="{{ url_for('operations.eigen') }}">Eigenvalues and Eigenvectors</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ url_for('operations.eigen') }}#basic">Basic</a>
        <a href="{{ url_for('operations.eigen') }}#diagonal">Diagonal Matrix</a>
        <a href="{{ url_for('operations.eigen') }}s#eigenspace">Eigenspace</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><a href="{{ url_for('operations.orthogonalprojection') }}">Orthogonal Projections</a>
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="{{ url_for('operations.orthogonalprojection') }}">Simple Orthogonal Projection</a>
        <a href="{{ url_for('operations.orthogonalprojection') }}">QR Factorization</a>
        <a href="{{ url_for('operations.orthogonalprojection') }}">Gram-Schmidt Process</a>
      </div>
    </div> -->
  </div>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  
  <h1>Create a Matrix</h1>
  <p>Enter entries of the matrix by separating each column by space and each row with a newline</p>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      <br>
      {{ form.entry(rows='10',cols='25') }}
      {% for error in form.entry.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p> Choose an option: {{ form.options() }}</p>
    <p> Detailed solution? {{ form.detailed_solution() }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  
  {% block content2 %}{% endblock %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <span style="color: blue; white-space: pre-wrap;">{{ message }}</span>
    {% endfor %}
  {% endif %}
  {% endwith %}
</section>