html { 
    font-family: Arial, Helvetica, sans-serif; 
    background: whitesmoke
}

body {
    margin: 0 auto;

}
h1 { 
    font-family: bookman; 
    color: #377ba8; 
    margin: 1rem 0; 
}

hr { 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav { 
    top: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    background: black; 
    font: light-grey; 
    display: flex; 
    padding: 1.25rem; 
    width: 100%; 
    position:fixed;
}

navbar {
    height: 22.6px; 
}

nav a { 
    display: block;
    text-align: center; 
    float: left; 
    color: #ffffff; 
    text-decoration-line: none; 
    margin-right: 1rem;
    height: 22.6px;
    line-height: 22.6px;
}  

/* Change background on mouse-over
.navbar a:hover {background: #ddd; color: black;} */

nav a.homeanchor {
    margin-left: 2rem;
}
.dropdown { 
    float: left; 
    overflow: hidden; 
    background: black; 
    text-align: center;
    height: 22.6px;
    line-height: 22.6px;
}

.dropbtn {
    background: black; 
    border: none;
    text-align: center;
    height: 22.6px;
    line-height: 22.6px;
} 
.dropbtn a {
    font-size: 12pt;
    height: 22.6px;
    line-height: 22.6px;
}
.dropdown:hover .dropdown-content { 
    display: block;
}
.dropdown-content { 
    display: none; 
    position: absolute; 
    background: black;
}
.dropdown-content a { 
    float: none; 
    color: white; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    text-align: left;
}
.content { 
    margin-top: 1rem; 
    padding: 2rem; 
    padding-top: 4rem;
    max-width: 80%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.content > header {
    border-bottom: 1px solid lightgray; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { margin-top: 1rem; font-family: bookman;flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }