{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<ul>Contents
    <li><a href="#basic">Click to go to the basic content</a></li>
    <li><a href="#diagonal">Click to go to to the diagonal content</a></li>
    <li><a href="#eigenspace">Click to go to to the eigenspace content</a></li>
</ul>
<a name="basic"></a> 
<p>Hello sir, this is the basic content</p>
<br>
<a name="diagonal"></a> 
<p>Hello, this is the diagonal content</p>
<br>
<a name="eigenspace"></a>
<p>Hello, this is the eigenspace content</p> 
<br>

{% endblock %}